  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

  .main-screen {
    border-radius: 10px;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    background-color: #CC5500;
  }

  :root {
    --primary: green;
    --error: red;
  }

  .img-container {
    border-bottom: 2px dashed whitesmoke;
  }

  .intro-container {
    border-right: 2px dashed whitesmoke;
    border-bottom: 2px dashed whitesmoke;
  }

  .intro-msg-one {
    font-size: large;
    color: whitesmoke;
  }

  .intro-msg-two {
    font-size: large;
    color: black;
  }

  .degree-container {
    border-bottom: 2px dashed whitesmoke;
  }

  .image-design {
    max-width: 250px;
    border-radius: 50px;
  }

  .reference-container {
    border-right: 2px dashed whitesmoke;
  }

  .reference-header {
    font-size: 40px;;
    color: whitesmoke;
  }

  .reference-item {
    font-size: 18px;
    color: whitesmoke;
  }

  .section-header {
    color: black;
    font-style: italic;
  }

  .experience-company {
    font-style: italic;
    text-decoration: underline;
    color: whitesmoke;
  }

  .experience-position {
    font-style: italic;
    text-decoration: underline;
    color: whitesmoke;
    font-weight: 700;
  }

  /*
   * Find a way to inherit classes. I'm not too worried about this. It would just makes things a bit
   * more convenient. I'll come back and clean this up (I say that all the time but never do lol)
  */
  .experience-dates {
    font-size: 11px;
    display: grid;
    align-content: center;
    font-style: italic;
    color: whitesmoke;
  }

  .experience-details {
    font-size: 11px;
    display: grid;
    align-content: center;
    color: whitesmoke; 
  }

  .education-college {
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    color: whitesmoke;
  }

  .education-prompt {
    font-size: 11px;
    color: whitesmoke;
  }

  .eudcation-detail {
    font-size: 11px;
    font-style: italic;
    color: whitesmoke;
  }

  .social-icon {
    color: whitesmoke;
    margin-right: 15px;
    width: 35px;

  }

